<form [formGroup]="citaForm">
  <ion-item>
    <ion-label position="floating">Frase</ion-label>
    <ion-input formControlName="frase"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="citaForm.get('frase')?.touched && citaForm.get('frase')?.errors?.['required']">
    <p>La frase es obligatoria.</p>
  </ion-text>
  <ion-text color="danger" *ngIf="citaForm.get('frase')?.touched && citaForm.get('frase')?.errors?.['minlength']">
    <p>La frase debe tener al menos 5 caracteres.</p>
  </ion-text>

  <ion-item>
    <ion-label position="floating">Autor</ion-label>
    <ion-input formControlName="autor"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="citaForm.get('autor')?.touched && citaForm.get('autor')?.errors?.['required']">
    <p>El autor es obligatorio.</p>
  </ion-text>
  <ion-text color="danger" *ngIf="citaForm.get('autor')?.touched && citaForm.get('autor')?.errors?.['minlength']">
    <p>El autor debe tener al menos 2 caracteres.</p>
  </ion-text>

  <ion-button expand="full" (click)="agregarCita()" [disabled]="!citaForm.valid">Agregar</ion-button>
</form>
